# For a complete list of core environment variables see
# https://docs.silverstripe.org/en/4/getting_started/environment_management/#core-environment-variables

SS_ENVIRONMENT_TYPE=dev

# Admin credentials
SS_DEFAULT_ADMIN_USERNAME=admin
SS_DEFAULT_ADMIN_PASSWORD=admin

# DB credentials
SS_DATABASE_CLASS=MySQLPDODatabase
SS_DATABASE_SERVER=mysql
SS_DATABASE_USERNAME=silverstripe
SS_DATABASE_PASSWORD=silverstripe
SS_DATABASE_NAME=silverstripe

# Mail
SS_SEND_ALL_EMAILS_FROM=noreply@example.com
APP_SMTP_HOST=mailhog
APP_SMTP_PORT=1025
APP_SMTP_ENCYPTION=
APP_SMTP_USERNAME=
APP_SMTP_PASSWORD=
APP_SMTP_AUTH_MODE=
