# For a complete list of core environment variables see
# https://docs.silverstripe.org/en/4/getting_started/environment_management/#core-environment-variables

## PHP
PHP_DATE_TIMEZONE=Europe/Berlin
PHP_POST_MAX_SIZE=6M
PHP_UPLOAD_MAX_FILESIZE=5M

## Silverstripe
# General
SS_ENVIRONMENT_TYPE=dev

# Admin credentials
SS_DEFAULT_ADMIN_USERNAME=admin
SS_DEFAULT_ADMIN_PASSWORD=admin

# DB credentials
SS_DATABASE_CLASS=MySQLPDODatabase
SS_DATABASE_SERVER=mysql
SS_DATABASE_USERNAME=silverstripe
SS_DATABASE_PASSWORD=silverstripe
SS_DATABASE_NAME=silverstripe

# Mail
SS_SEND_ALL_EMAILS_FROM=noreply@example.com
SS_SMTP_HOST=mailhog
SS_SMTP_PORT=1025
SS_SMTP_ENCYPTION=
SS_SMTP_USERNAME=
SS_SMTP_PASSWORD=
SS_SMTP_AUTH_MODE=
